.back{
    box-sizing: border-box;
    margin: 0px auto;
    width: 40%;
    height: 700px;
    min-width: 1000px;
    /*background-color: bisque;*/
    display: flex;
    padding-top: 120px;
    padding-left: 40px;
}
.img{
    margin: 0px auto;
    width: 180px;
    height: 180px;
}
.blockimg{
    margin: 0px auto;
    float: left;
    box-sizing: content-box;
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    width: 180px;
    height: 180px;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
}
.backimg1{
    background-color: #ffed3e;
    
}
.backimg2{
    background-color: #c0ff98;
}


.par{
    margin: 0px auto;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 20px 20px 20px 20px;
    padding: 15px 25px 15px 25px;
    width: 600px;
    height: 180px;
    min-width: 600px;
    background-color: #f0f0f0;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
}