.back{
    margin: 0px auto;
    width: 80%;
    height: 700px;
    min-width: 2000px;
    /*background-color: bisque;*/
}

.img{
    margin: 0px auto;
    width: 180px;
    height: 180px;
}
.blockimg{
    box-sizing: border-box;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
}
.backimg1{
    background-color: #00ffa5;
    
}
.backimg2{
    background-color: #98e3ff;
}


.par{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    width: 40%;
    height: 500px;
    min-width: 1000px;
    background-color: #f0f0f0;
}